:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body > svg {
    width: 100vw;
}

main {
    display: flex;
}

main aside {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    gap: 3rem;
}

main aside h1 {
    color: #6C63FF;
    font-size: 2em;
}

main aside > p {
    color: #9C9AB6;
}

#timerArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.oneTimer {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.oneTimer p {
    color: #C8C8C8;
    font-size: .8em;
}

#timerArea h2 {
    font-size: 3em;
    color: #4D4C59;
}

#subscribe {
    text-decoration: none;
    color: white;
    background-color: #6C63FF;
    padding: 7px;
    border-radius: 4px;
    width: 20%;
    text-align: center;
}

#subscribe:hover {
    background-color: #544ec9;
}

main div#rocket {
    width: 50%;
    text-align: right;
}